.showrooms-description, .showrooms-unique,
.showrooms-limited {
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  max-width: 760px;
  text-align: center;
}

.showrooms-description h1, .showrooms-unique h1 {
    padding-bottom: 10px;
    margin: auto;
    font-family: 'Moontime';
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 20px;
    border-color: $gold;
    border-width: 2px;
    padding: 10px;
    max-width: 210px;
    margin-bottom: 30px;
}

.showrooms-limited h1 {
  padding-bottom: 10px;
  margin: auto;
  font-family: 'Moontime';
  display: flex;
  justify-content: center;
  border-style: solid;
  border-radius: 20px;
  border-color: $gold;
  border-width: 2px;
  padding: 10px;
  max-width: 210px;
}

.showrooms-description p, .showrooms-unique p,
.showrooms-limited p {
  margin:auto;
}

.carrousel-photos {
  display: flex;
  justify-content: baseline;
}

.swiper-slide {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img{
  max-width: 300px;
  margin: 10px 10px;
  border-radius: 20px;
  object-fit: fill;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
}

// Navigation button caroussel
.swiper-button-prev, .swiper-button-next {
  color: $gold;
  border-color:$gold;
}

.swiper-button-prev, .swiper-button-next  {
  background-image: url(./arrow-caroussel.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next {
  transform: rotate(180deg);;
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: $gold;
}
