<div >
  <div class="nav fixed-top" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
    <ul class="nav-lists">
      <div class="logo">
        <%= link_to "#" do %>
          <%= image_tag "logo.png" %>
        <% end %>
      </div>
      <li><a href="#">Showroom</a></li>
      <li><a href="#">Nous rencontrer</a></li>
      <li><a href="#">Instagram</a></li>
      <i class="fas fa-water fa-lg"></i>

    </ul>
  </div>
</div>
<div class="home-banner">
  <h1>Artisanat fait main en Guadeloupe</h1>
</div>
