<%= stylesheet_link_tag 'showrooms', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="showrooms-banner">
  <div class="container">
    <div class="showrooms-description">
      <h1> Nos produits</h1>
      <p>Nos créations sont faites main, design et fait en Guadeloupe.
      Nos matériaux sont naturels et durables :
      <li>Bois flottés poncés et traité avec des produits naturels</li>
      <li>Corde en coton certifiées de qualité supérieure et sont en coton écologique</li>
      <li>Les accessoires : coquillages, graines, plumes, bois, plantes etc.</li>
        </p>
    </div>
    <div class="showrooms-unique">
      <h1>Pièces uniques</h1>
      <p>A partir de 85 euros vous pouvez commander votre macramé sur mesure
         Une piece unique cree selon vos envies ! N'attendez plus, contactez nous
      </p>
      <div class="carrousel-photos">
        <h1>hello1</h1>
        <h1>hello2</h1>
        <h1>hello3</h1>
      </div>
    </div>
    <div class="showrooms-limited">
      <h1>Nos séries limitéses</h1>
      <p>Ces capsules sont créées en fonction de mes différentes inspirations. Ces série
        limitées sont produits en petite quantité.
      </p>
    <%@showrooms.each do |showroom| %>
      <% showroom.photo_showrooms.each do |photo| %>
        <%= cl_image_tag(photo.url,
        width: 400, height: 300) %>
      <% end %>
    <% end %>

      <!-- Slider main container -->
      <div data-controller="carousel" class="swiper-container" class="swiper-container w-25 my-5"
          data-carousel-options-value='{
          "pagination": { "el": ".swiper-pagination",
                          "dynamicBullets": "true" },
          "navigation": { "nextEl": ".swiper-button-next",
                          "prevEl": ".swiper-button-prev"}}'>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="carrousel-photos">
              <h1>hello1</h1>
              <h1>hello2</h1>
              <h1>hello3</h1>
            </div>
          </div>
          <div class="swiper-slide  carrousel-photos">
            <h1>hello4</h1>
            <h1>hello5</h1>
            <h1>hello6</h1>
          </div>
        </div>
      <!-- Pagination (... or 1/10 or progress bar) -->
        <div class="swiper-pagination"></div>

        <!-- Navigation buttons (< >) -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
  </div>
</div>
