<%= stylesheet_link_tag 'showrooms', media: 'all', 'data-turbolinks-track': 'reload' %>
<%# Tailwind test for integration %>
<%# <div class="max-w-lg mx-auto mt-16 text-center max-w-sm rounded overflow-hidden shadow-lg p-10">
  <h1 class="mb-4 text-3xl font-black">Here are all our users!</h1>
  <p class="text-lg leading-snug">If this looks nice, it means Tailwind is set up properly.</p>
</div> %>
<%# end %>
<div class="showrooms-banner">
  <div class="container">
    <div class="showrooms-description">
      <h1> Nos produits</h1>
      <p>Nos créations sont faites main, design et fait en Guadeloupe.
        Nos matériaux sont naturels et durables :
          <li>Bois flottés poncés et traité avec des produits naturels</li>
          <li>Corde en coton certifiées de qualité supérieure et sont en coton écologique</li>
          <li>Les accessoires : coquillages, graines, plumes, bois, plantes etc.</li>
        </p>
    </div>
    <div class="showrooms-unique">
      <h1>Pièces uniques</h1>
      <p>A partir de 85 euros vous pouvez commander votre macramé sur mesure
         Une piece unique cree selon vos envies ! N'attendez plus, contactez nous
      </p>
      <!-- Slider main container -->
      <div data-controller="carousel" class="swiper-container" class="swiper-container w-25 my-5"
          data-carousel-options-value='{
          "pagination": { "el": ".swiper-pagination",
                          "dynamicBullets": "true" },
          "navigation": { "nextEl": ".swiper-button-next",
                          "prevEl": ".swiper-button-prev"}}'>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slicing 2 by 2 and displaying the first picture in carrousel -->
          <% @showrooms.each_slice(2).with_index do |slice, index| %>
              <div class="swiper-slide carrousel-photos">
                <% slice.each do |showroom| %>
                  <% if showroom.photos.attached? %>
                    <%= cl_image_tag(showroom.photos.first.key,
                    width: 400, height: 300) %>
                  <% end %>
                <% end %>
              </div>
          <% end %>
        </div>
        <!-- Pagination (... or 1/10 or progress bar) -->
        <div class="swiper-pagination"></div>

        <!-- Navigation buttons (< >) -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    <div class="showrooms-limited">
      <h1>Nos séries limitéses</h1>
      <p>Ces capsules sont créées en fonction de mes différentes inspirations. Ces série
        limitées sont produits en petite quantité.
      </p>
      <!-- Slider main container -->
      <div data-controller="carousel" class="swiper-container" class="swiper-container w-25 my-5"
          data-carousel-options-value='{
          "pagination": { "el": ".swiper-pagination",
                          "dynamicBullets": "true" },
          "navigation": { "nextEl": ".swiper-button-next",
                          "prevEl": ".swiper-button-prev"}}'>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slicing 2 by 2 and displaying the first picture in carrousel -->
          <% @showrooms.each_slice(2).with_index do |slice, index| %>
              <div class="swiper-slide carrousel-photos">
                <% slice.each do |showroom| %>
                  <% if showroom.photos.attached? %>
                    <%= cl_image_tag(showroom.photos.first.key,
                    width: 400, height: 300) %>
                  <% end %>
                <% end %>
              </div>
          <% end %>
        </div>
        <!-- Pagination (... or 1/10 or progress bar) -->
        <div class="swiper-pagination"></div>

        <!-- Navigation buttons (< >) -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>
