.home-banner {
  display: flex;
  justify-content: center;
  height: 100vh;
  //color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.home-banner::before {
  content: "";
  position: absolute;
  background: {
      image: asset_url("banner.jpeg");
    }
  background-size: cover;
  opacity: 0.5;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.home-banner h1 {
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 10px;
  // opacity: 1;
  color:$gold;
  background-color: #eee;

}
