.our-history-banner {
  background: {
      image: asset_url("body_20.jpeg");
    }
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.our-history {
  //position: relative;
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.our-history-content {
  padding-right:50px;
}

.our-history-content h1 {
  font-family: 'Moontime';
  display: flex;
  justify-content: center;
}

.our-history-photo {
  padding-top: 10px;
  width: 300px;
  height: 300px;
  border-radius:50px;
}

.our-goal {
max-width: 760px;
text-align:center;
}

.our-goal h1 {
  font-family: 'Moontime';
}
