.our-history-banner {
  background: {
      image: asset_url("body_20.jpeg");
    }
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}

.our-history {
  //position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-style: solid;
  // border-radius: 20px;
  // border-color: $gold;
  // border-width: 2px;
  // padding: 30px;
}


.our-history-content {
  padding-right:50px;
}

.our-history-banner h1 {
  padding-bottom: 10px;
  margin: auto;
  font-family: 'Moontime';
  display: flex;
  justify-content: center;
  border-style: solid;
  border-radius: 20px;
  border-color: $gold;
  border-width: 2px;
  padding: 10px;
  max-width: 210px;
  margin-bottom: 30px;
}

.our-history-content p {
  margin: auto;
}

.our-history-photo {
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius:50px;
}

.our-goal {
  margin:auto;
  margin-top: 20px;
  justify-content: center;
  max-width: 760px;
  text-align:center;
  // border-style: solid;
  // border-radius: 20px;
  // border-color: $gold;
  // border-width: 2px;
  // padding: 30px;
}
