// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
// Importing custom font 'Moontime'
@font-face {
  font-family: 'Moontime';
  src: url('/fonts/moonTime-regular.otf')
}

// @font-face {
//   font-family: 'Montserrat';
//   src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');
// }
